<tui-textfield>
  <input
    tuiSearchHotkey
    [formControl]="control"
    [tuiInputSearch]="search"
    [(tuiInputSearchOpen)]="open" />
  <ng-template #search>
    @let resultState = (resultState$ | async) ?? { status: 'ready', data: null };

    @if (resultState.status === 'tooShortQuery') {
      <app-search-message>Enter 3 or more characters</app-search-message>
    } @else if (resultState.status === 'error') {
      <app-search-message>An error occured</app-search-message>
    } @else if (resultState.status === 'pendingTyping') {
      <app-search-message>Type something to start searching</app-search-message>
    } @else {
      <tui-search-results [results]="resultState.data">
        <tui-search-history [popular]="popular" />
        <ng-template let-item>
          <app-search-item [item]="item"></app-search-item>
        </ng-template>
      </tui-search-results>
    }
  </ng-template>
</tui-textfield>
