<tui-textfield>
  <input
    tuiSearchHotkey
    [formControl]="control"
    [tuiInputSearch]="search"
    [(tuiInputSearchOpen)]="open" />
  <ng-template #search>
    @let canShowSearchResults = canShowSearchResults$ | async;
    <!-- { status: 'ok', data: null} состояние в котором показываем популярные фильтры если поиск пустой -->
    @let resultState = (resultState$ | async) ?? { status: 'ok', data: null };

    @if (!canShowSearchResults) {
      <div class="search-content">
        <span class="search-content-inner">
          Please enter 3 or more characters
        </span>
      </div>
    } @else if (resultState.status === 'error') {
      <div class="search-content">
        <span class="search-content-inner">An error occured</span>
      </div>
    } @else {
      <tui-search-results [results]="resultState.data">
        <tui-search-history [popular]="popular" />
        <ng-template let-item>
          <app-search-item [item]="item"></app-search-item>
        </ng-template>
      </tui-search-results>
    }
  </ng-template>
</tui-textfield>
